@font-face {
	src:url(OpenSans-SemiBold.ttf);
	font-family: opensans;
}

@font-face {
	src:url(OpenSans-Light.ttf);
	font-family: opensanslight;
}

@font-face {
	src:url(Viga-Regular.ttf);
	font-family: viga;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
    text-decoration: none;
    list-style-type: none;
    font-family: opensanslight;
}

body ul li a {
	font-weight: bolder;
}

#left div {
	border: 1px solid #000;
	list-style-type: none;
	width: 20%;
	height: 600px;
	background: red;
}

#left div ul {
	border: 1px solid #000;
	list-style-type: none;
	text-decoration: none;
	width: 20%;
	height: 600px;
	background: red;
}
